#messages-area {
    height: 600px;
}

#message-list {
    display: grid;
    overflow-y: scroll;
    width: 600px;
    height: 600px;
    margin: auto;
}

#message-list::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

#message-list::-webkit-scrollbar-thumb {
    background-color: #000000;
}

#message-list li {
    list-style-type: none;
    padding: 5px 0 5px 5px;
    border: 2px solid transparent;
}

@keyframes glow {
    0% {border: 2px solid transparent;}
    50% {
        border-color: red;
        -webkit-box-shadow: 0 0 15px red;
            -moz-box-shadow: 0 0 15px red;
                box-shadow: 0 0 15px red;
    }
    100% {
        border-color: red;
        -webkit-box-shadow: 0 0 30px red;
            -moz-box-shadow: 0 0 30px red;
                box-shadow: 0 0 30px red;
    }
}

#message-list li.active {
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#message-list li:nth-child(even) {
    background-color: #000000;
    color: #ffffff;
}

#message-list li:nth-child(odd) {
    background-color: #ffffff;
    color: #000000;
}

#main-form {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    margin: auto;
}

#username {
    width: 200px;
}

#text {
    width: 300px;
}

#send {
    display: grid;
    background-color: #000000;
    color: #ffffff;
    border: none;
    height: 30px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
}

#send:hover {
    cursor: pointer;
}

.menu {
    display: none;
    width: 10rem;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 2px #999;
    border-radius: 0.2rem;
    list-style: none;
    position: fixed;
}

.menu-item {
    display: grid;
    align-items: center;
    border: #000 1px;
    border-style: solid none;
    height: 2rem;
    font-size: 1rem;
    padding: 0 1rem;
    cursor: pointer;
}

.menu-item:hover,
.menu-item:active {
    color: #000;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #message-list {
        width: 100vw;
        height: 70vh;
        text-align: center;
        font-size: 2em;
    }

    #main-form {
        display: grid;
        grid-template-columns: 1fr;
        width: 600px;
        margin: auto;
        justify-items: center;
    }

    #main-form #username {
        font-size: 1em;
        width: 200px;
    }

    #main-form #text {
        font-size: 1em;
        width: 300px;
    }

    #send {
        height: 40px;
        width: 200px;
        margin-top: 10px;
        font-size: 2em;
        margin-bottom: 20px;
    }
}
